



.header_nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  &> div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;

    width: 100%;
    max-width: 975px;

  &> nav {
    display: flex;
    align-items: center;

    &> a {
      color: var(--primary-color);
    }
    div {
      display: flex;
      gap: 1rem;
      align-items: center;

      margin-left: 30px;

      &>a {
        width: 100%;
        padding: 0.8rem 1.5rem;
        border-radius: 0.25rem;
        background-color: var(--primary-color);
        font-weight: 700;
      }


      &>a:nth-child(1) {
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }

      &>a:nth-child(2) {
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }

      &>a:nth-child(1):hover,
      &>a:nth-child(2):hover {
        background-color: #222;
        color: var(--secondary-color);
      }
    }
  }

  .logo {
    display: block;
    max-width: 100px;
    width: auto;
    height: auto;
  }
  }
}