


 // Classe para alerta de erro
 .message_error {
  border: 1px solid var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  animation: animate 1.5s linear infinite;

  p {
    color: var(--primary-color);
    text-align: center;
  } 
}

@keyframes animate{
  0%{
     opacity: 0; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 0px 1px 1px var(--primary-color);

  }
  25% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
    
  }
  50%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);
  }
  75% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
  }
  100%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);

  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal_new_service {
  background-color: var(--bg-color);
  max-width: 725px;
  width: 100%;

  padding: 4rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &>.form {
   

    &>div {
      max-width: 500px;
      width: 100%;
  
      display: flex;
      flex-direction: column;
      gap: 1rem;

    &>header {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &>div {
        h2 {
          color: var(--secondary-color);
          font-weight: 700;
        }
  
        span {
          color: var(--gray-700);
        }
      }

   
  

      button {
        background-color: transparent;
        color: var(--primary-color);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 800;
        font-size: 1.2rem;
        border: 0;
      }
    }
    .image_service {

      .label_image {
        background-color: var(--primary-color);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        color: var(--secondary-color);
  
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
  
        svg {
          font-size: 2rem;
        }
  
        input {
          display: none;
        }
      }
    }


    &>div.name_service {
      width: 100%;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div.comission_service { 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;

        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div.data_service { 
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div.code_service { 
      

      textarea {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div.btn_service {

      button {
          width: 100%;
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
      }
    }
    }


  }

}


@media screen and (max-width: 393px) { 
  .modal_overlay {
    padding: 4rem 1rem;
  }
  .form {

    &>div:nth-child(4) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem !important;
    }
    &>div:nth-child(5) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem important;
    }
  }
 }