

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal_new_service {
  background-color: var(--bg-color);
  max-width: 725px;
  width: 100%;

  padding: 4rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &>.form {
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>div:nth-child(1) {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &>div {
        h2 {
          color: var(--secondary-color);
          font-weight: 700;
        }
  
        span {
          color: var(--gray-700);
        }
      }

      button {
        background-color: transparent;
        color: var(--primary-color);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 800;
        font-size: 1.2rem;
        border: 0;
      }
    }

    &>div:nth-child(2) {
      display: grid;
      grid-template-columns: 100px 1fr;
      // height: 30px;

      &> label:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -5px;
        z-index: 10;

        background-color: var(--main-color);
        border-radius: 0.25rem;
        cursor: pointer;

        input {
          // overflow: hidden;
          opacity: 0;
          width: 0;
          border: 0;
          
        }

        svg {
          color: var(--primary-color);
          font-weight: 700;
          font-size: 1.5rem;
        }
      }

      label:nth-child(2) {
        background-color: var(--primary-color);
        color: var(--secondary-color);

        display: flex;
        align-items: center;
        padding: 1rem;

        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;

        cursor: pointer;
      }
    }

    &>div:nth-child(3) {
      width: 100%;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div:nth-child(4) { 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;

        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div:nth-child(5) { 
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      input {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div:nth-child(6) { 
      

      textarea {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;
        border: 0;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }
      }
    }

    &>div:nth-child(7) {

      button {
          width: 100%;
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;
      }
    }

  }

}


@media screen and (max-width: 393px) { 
  .modal_overlay {
    padding: 4rem 1rem;
  }
  .form {

    &>div:nth-child(4) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem !important;
    }
    &>div:nth-child(5) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem important;
    }
  }
 }