


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 2rem;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  position: relative;
  background-color: var(--bg-color);
  max-width: 625px;
  width: 100%;

  padding: 2rem 10px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn_close {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    border: 0;
    max-width: 20px;
  }

  form {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 0.8rem 1rem;
        border-radius: 0.25rem;
        font-weight: 800;
      }
    }
  }


}

.step_1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
    h2 {
      color: var(--secondary-color);
    }
  }

  p {
    color: var(--gray-700);
  }
}

.step_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
    h2 {
      color: var(--secondary-color);
    }
  }

  p {
    color: var(--gray-700);
  }

  &>div {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1 1 120px;

    max-width: 280px;
    width: 100%;
    margin: 1rem auto;

    label {

      position: relative;
      cursor: pointer;

      background-color: transparent;
      border: 1px solid var(--primary-color);
      max-width: 120px;
      width: 100%;
      height: 140px;
      border-radius: 0.25rem;
      padding: 1rem;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      transition: all .3s ease-in-out;

      &:hover{
        background-color: var(--primary-color);
      }

      input {
        overflow: hidden;
        opacity: 0;
        width: 0;
      }

      input:checked ~ img {
        background-color: var(--primary-color);
      }


      img {
        position: absolute;
        bottom: 0;
        display: block;
        max-width: 180px;
        height: 100%;
        width: 100%;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }
    }
  }
}

.step_3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
    h2 {
      color: var(--secondary-color);
    }
  }

  p {
    color: var(--gray-700);
  }

  &>div {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1 1 120px;

    max-width: 500px;
    width: 100%;
    margin: 1rem auto;

    label {

      position: relative;
      cursor: pointer;

      background-color: transparent;
      border: 1px solid var(--primary-color);
      border-radius: 0.25rem;
      
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      transition: all .3s ease-in-out;

      &:hover{
        background-color: var(--primary-color);
      }

      input {
        overflow: hidden;
        opacity: 0;
        width: 0;
      }

      input:checked ~ span {
        background-color: var(--primary-color);
      }


      span {
        background-color: transparent;
        color: var(--secondary-color);
        font-weight: 600;
        padding: 0.8rem 1rem;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }
    }
  }
}

.step_4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      color: var(--primary-color);
      font-size: 1.5rem;
    }
    h2 {
      color: var(--secondary-color);
    }
  }

  p {
    color: var(--gray-700);
  }

  &>div {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    flex: 1 1 120px;

    // max-width: 280px;
    width: 100%;
    margin: 1rem auto;

   

    label {

      position: relative;
      cursor: pointer;

      background-color: transparent;
      border: 1px solid var(--primary-color);
      max-width: 120px;
      width: 100%;
      height: 140px;
      border-radius: 0.25rem;
      padding: 1rem;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      transition: all .3s ease-in-out;

      &:hover{
        background-color: var(--primary-color);
      }

      input {
        overflow: hidden;
        opacity: 0;
        width: 0;
      }

      input:checked ~ img {
        background-color: var(--primary-color);
      }


      img {
        position: absolute;
        bottom: 0;
        display: block;
        max-width: 180px;
        height: 100%;
        width: 100%;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }
    }
  }
}


// MEDIA QUERIES MOBILE (820px)
@media (max-width: 820px) {
 .step_4 {

  &>div {
    flex-wrap: nowrap;
  }
 }     
}

// MEDIA QUERIES MOBILE (375px)
@media screen and (max-width: 412px) {
  .step_4 {

    &>div {
      flex-wrap: wrap;
    }
   }  
}

