

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal_new_service {
  background-color: var(--bg-color);
  max-width: 625px;
  width: 100%;

  padding: 2rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &>.form {
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>div.form_group_heading {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      &>div {
        h2 {
          color: var(--secondary-color);
          font-weight: 700;
        }
  
        span {
          color: var(--gray-700);
        }
      }

      button {
        background-color: transparent;
        color: var(--primary-color);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 800;
        font-size: 1.5rem;
        border: 0;
      }
    }

    &>div.image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
            max-width: 100%;
            width: 140px;
            height: 140px;
            object-fit: cover;
            background-position: center;
            display: block;
      }
    }

    &>div.name {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        color: var(--primary-color);
        font-weight: 600;
      }

      span {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 15px 11px;
        border-radius: 0.25rem;
        border: 0;
        outline: none;
      }
    }

    &>div.comission { 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          color: var(--primary-color);
          font-weight: 600;
        }

        span {
          width: 100%;
          background-color: var(--main-color);
          color: var(--secondary-color);
          padding: 15px 11px;
          border-radius: 0.25rem;
          border: 0;
          outline: none;
        }
      }

    }

    &>div.form_group_date { 
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          color: var(--primary-color);
          font-weight: 600;
        }

        span {
          width: 100%;
          background-color: var(--main-color);
          color: var(--secondary-color);
          padding: 15px 11px;
          border-radius: 0.25rem;
          border: 0;
          outline: none;
        }
      }

    }

    &>div.observaction { 
      

      display: flex;
      flex-direction: column;
      gap: 1rem;


      label {
        color: var(--primary-color);
        font-weight: 600;
      }

      span {
        width: 100%;
        background-color: var(--main-color);
        color: var(--secondary-color);
        padding: 1rem;
        border-radius: 0.25rem;
        border: 0;
        outline: none;
      }
    }


  }

}


@media screen and (max-width: 393px) { 
  .modal_overlay {
    padding: 4rem 1rem;
  }
  .form {

    &>div:nth-child(4) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem !important;
    }
    &>div:nth-child(5) { 
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 0.5rem important;
    }
  }
 }