

// SKELETON
.skeleton {
  background-image: linear-gradient(
    -90deg,
    #121212 0%,
    #262626 50%,
    #121212 100%
    );
    

    background-size: 400% 400%;
    animation: shimmer 1.2s ease-in-out infinite;

    @keyframes shimmer {
      0% {
        background-position: 0% 0%;
        // opacity: 0;
      }
      100% {
        background-position: -135% 0%;
        // opacity: 1;
      }
    }
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @extend .dflex;
  width: 100%;
  flex-direction: column;
  
  
  .slider_wrapper {
    width: 70%;
    overflow: hidden;
    padding: 20px;
    display: flex;
    @media (max-width: 416px) {
      width: 100%;
    }


    .inner_carousel {

      display: inline-flex;
      
      .card {

        // max-width: 180px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 16px;
        backdrop-filter: blur(20px);
        box-shadow: 0 3px 6px rgba(0 ,0 ,0 , 0.16),
                    0 3px 6px rgba(56, 40, 40, 0.23);
        height: 180px;

        .card_image {
          display: block;
          width: 100%;
          height: 100%;
          height: auto;
          border-radius: 0.25rem;
          overflow: hidden;
          // margin-bottom: 32px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }
        +.card {
          margin-left: 5vw;
          @media (max-width: 416px) {
            margin-left: 5vw;
          }
        }
      }

    }
  }
}