


// SKELETON
.container_skeleton {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;

  max-width: 975px;
}

// MODAL INFO SUGGESTION MOVIE
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.Modal_new_service {
  outline: none;
  position: relative;
  background-color: var(--bg-color);
  max-width: 610px;
  width: 100%;
  padding: 4rem 2rem;

  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &>.form {
    position: relative;
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

      button {
        position: absolute;
        top: -20px;
        right: -10px;
        background-color: transparent;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.2rem;
        border: 0;
      }

      &> .movie_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        &>div:nth-child(1) { 
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;

          img {
            border-radius: 0.25rem;
            display: block;
            max-width: 441px;
            width: 100%;
            height: auto;
          }
        }

        &>div:nth-child(2) {
          display: flex;
          gap: 0.5rem;

          h4 {
            color: var(--primary-color);
            font-weight: 600;
          }
          span {
            color: var(--secondary-color);
          }
        }
        &>div:nth-child(3) {
          display: flex;
          gap: 0.5rem;

          h4 {
            color: var(--primary-color);
            font-weight: 600;
          }
          span {
            color: var(--secondary-color);
          }
        }
        &>div:nth-child(4) {
          display: flex;
          gap: 0.5rem;

          h4 {
            color: var(--primary-color);
            font-weight: 600;
          }
          span {
            color: var(--secondary-color);
          }
        }
        &>div:nth-child(5) { 
          
          p {
            color: var(--secondary-color);
            max-width: 480px;
            line-height: 1.5rem;
            font-weight: 400;
          }
        }
      }
    
  }

}


.container_skeleton_others_services {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 975px;
}




.header_nav {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  &> div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    width: 100%;
    max-width: 975px;

  &> nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .notification{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--bg-color);
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      svg {
        font-size: 1.5rem;
        color: var(--primary-color);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        // &:hover {
        //   color: var(--secondary-color);
        // }
      }
    }

    button {
      padding: 0.8rem 1.5rem;
        border-radius: 0.25rem;
        background-color: var(--bg-color);
        color: var(--secondary-color);
        font-weight: 700;
        border: 0;
    }
  }

  .logo {
    display: block;
    max-width: 80px;
    width: 100%;
    height: auto;
  }
  }
}


.hero {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;


    &> div {
    width: 100%;
    max-width: 975px;
    width: 100%;

    .welcome {

      border-left: 2px solid var(--primary-color);
      border-radius: 0.25rem;
      padding: 1rem 1rem;
      line-height: 43px;
      h4 {
        color: var(--primary-color);
        font-size: 24px;
      }

      h1 {
        color: var(--secondary-color);
        font-size: 46px;
      }
    }

    .hero_info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 2rem;

      &>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        header {
          display: flex;
          flex-direction: column;
          margin-top: 2rem;

          h4 {
            font-weight: 600;
            font-size: 1.5rem;
            color: var(--primary-color);
            line-height: 45px;
            text-align: center;
          }
        }

        &>span {
          color: var(--secondary-color);
          text-align: center;
        }


        .divisor_barra {
          display: flex;
          justify-content: center;
          align-items: center;

          hr {
            width: 100%;
            border: 1px solid var(--primary-color);
            border-radius: 0.25rem;
          }

          span {
            color: var(--primary-color);
            font-weight: 600;
            margin: 0 1rem;
          }
        }

        a {
          color: var(--secondary-color);
          text-align: center;
          margin-top: 0rem;
        }

        p {
          color: var(--secondary-color);
        }

        button {
          background-color: var(--primary-color);
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;
        }
      }

      &>div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-end;

        &>.card {
          position: relative;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.25rem;

          cursor: pointer;

          width: 140px;
          height: 201px;

          overflow: hidden;
          
          img {
            background-position: center !important;
            object-fit: cover;
            height: auto;
            border-radius: 0.25rem;
            transform: scale(1);
            z-index: 0;
            display: block;

          }

          header {
            position: absolute;
            bottom: 0;
            padding: 10px;
            max-width: 140px;
            width: 100%;

            background-color: rgba($color: #000000, $alpha: 0.8);

            display: flex;
            justify-content: center;
            align-items: center;
            
            span {
              color: var(--secondary-color);
              max-width: 120px;
              width: 100%;
              text-align: center;
            }

          }
        }
      }
    }
  }
  
}


.new_releases {
  padding: 4rem 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    max-width: 70%;
    width: 100%;
    margin: 1rem;

    p {
      color: var(--secondary-color);
    }
  }
}

.ours_services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  &> div {
    width: 100%;
    max-width: 975px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
    header {
      width: 100%;
  
      h2 {
        color: var(--secondary-color);
        font-weight: 600;
        line-height: 40px;
      }
  
      &>div {
        background-color: var(--primary-color);
        height: 2px;
        border-radius: 0.25rem;
        max-width: 220px;
      }
    }

    &>div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color);
        padding: 1rem;
        border-radius: 0.25rem;

        &>div {

          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            display: block;
            max-width: 50px;
            width: 100%;
            height: auto;
            border-radius: 0.25rem;
          }

          span {
            color: var(--secondary-color);
            font-weight: 600;
          }

          span.preco_service {
            color: var(--primary-color);
          }
        }

        button {
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;
        }
      }
    }
  }
}


.no_services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;

  h2 {
    color: var(--primary-color);
    font-weight: 600;
  }
  span {
    color: var(--secondary-color);
  }
}








// MEDIA QUERIES MOBILE (390px)

@media screen and (max-width: 393px) {
  .hero_info {

    &>div:nth-child(2) {
      width: 100%;
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;

      
        
        .card {
          max-width: 90% !important;
          width: 100% !important;
          height: auto !important;
          margin: 0 auto;

          img {
            display: block;
            max-width: 100%;
            width: 100% !important;
            height: auto !important;
          }
        }
      

    }
  }
 }


// MEDIA QUERIES TABLET (820px)

@media screen and (max-width: 820px) { 
  .hero_info {
    flex-direction: column;
    align-items: center !important;
    gap: 2rem;

    &>div:nth-child(2) { 
      justify-content: center !important;
      
    }
  }

}