

.header_nav {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  &> div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

    width: 100%;
    max-width: 975px;

  &> nav {
    &>button {
      position: relative;
      padding: 0.8rem 1.5rem;
        border-radius: 0.25rem;
        background-color: var(--bg-color);
        color: var(--secondary-color);
        font-weight: 700;
        border: 0;
    }
  }

  .logo {
    display: block;
    max-width: 80px;
    width: 100%;
    height: auto;
  }
  }
}

.no_clients {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.modal_edit {
  background-color: var(--bg-color);
  padding: 2rem 1rem;
  border-radius: 0.25rem;

  max-width: 565px;
  width: 100%;

  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 500px;
    width: 100%;

    padding: 0px 35px;

    .person_datas {

      &>.form_group:nth-child(2) {
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap: 1rem;

        }
      

      &>.form_group:nth-child(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
    }

    .security_datas {
      width: 100%;

      &>.form_group:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }

    &> div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    header {
      display: flex;
      flex-direction: column;
      line-height: 28px;

      h2 {
        color: var(--secondary-color);
        font-weight: 700;
      }
      span {
        color: var(--gray-700);
      }
    }

    &>div {
      width: 100%;

      

      input, select {
        width: 100%;
        background-color: var(--main-color);
        border: none;
        color: var(--secondary-color);
        outline: none;
        border-radius: 0.25rem;
      }

      &>button {
        max-width: 150px;
        width: 100%;
        padding: 0.8rem 1.5rem;
        border-radius: 0.25rem;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-weight: 700;
        color: var(--secondary-color);
        transition: all .3s;

        &:hover {
          background-color: var(--primary-color);
          color: var(--primary-color);
        }
      }
    }

    &> div:last-child {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &> .footer_register {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      span {
        color: var(--secondary-color);
        text-align: center;

        a {
          color: var(--primary-color);
          transition: color .3s ;

          &:hover {
            color: var(--gray-700);
          }
        }

      }
    }
  }

}




.filterServices {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .container {
    max-width: 820px;
    width: 100%;
    border-radius: 0.25rem;

    background-color: var(--bg-color);
    padding: 2rem;
    
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color);

    .title {
      line-height: 2rem;

      h2 {
        color: var(--secondary-color);
      }
      span {
        color: var(--gray-700);
      }
    }
    button {
      padding: 0.8rem 1.5rem;
      border-radius: 0.25rem;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-weight: 700;
      border: 0;
      max-width: 240px;
      width: 100%;
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    input {
      width: 100%;
      background-color: var(--main-color);
      color: var(--secondary-color);
      padding: 15px 11px;
      border-radius: 0.25rem;
      border: 0;
      outline: none;

      &:focus {
        outline: var(--primary-color) solid 1px;
      }

      &:hover {
        outline: var(--primary-color) solid 1px;
      }
    }

    
  }

  .table_services {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .container_skeleton {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    


    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: var(--main-color);
      padding: 1rem;
      border-radius: 0.25rem;
      gap: 1rem;

      &>div {

        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          display: block;
          max-width: 80px;
          width: 100%;
          height: auto;
          border-radius: 0.25rem;
        }

        span {
          color: var(--secondary-color);
          font-weight: 600;
        }
      }

      .button_group {
        display: flex;
        gap: 10px;

        button {
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;
        }

        .btn_delete {
          background-color: red;
          border: 1px solid red !important;
          transition: all 0.3s ease-in-out;
          
          &:hover {
            color: red;
          }
        }
      }

    }
  }
}

.modal_delete_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_delete {
  background-color: var(--bg-color);
  max-width: 480px;
  width: 100%;
  padding: 4rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &>img {
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }

  &> p {
    color: var(--secondary-color);
    font-weight: 400;
    text-align: center;
  }

  &> span {
    color: rgb(228, 48, 48);
    font-weight: 600;
    text-align: center;
  }

  .button_group {
    display: flex;
    gap: 10px;
    margin-top: 1rem;

    button {
      padding: 0.8rem 1.5rem;
      border-radius: 0.25rem;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-weight: 700;
      border: 0;
    }

    .btn_delete {
      background-color: red;
      border: 1px solid red !important;
      transition: all 0.3s ease-in-out;
      
      &:hover {
        color: red;
      }
    }
  }
}

// MODAL


.modal_edit_image_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_edit_image {
  background-color: var(--bg-color);
  max-width: 725px;
  width: 100%;

  padding: 4rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &>.Modal_image {
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;


   // Classe para alerta de erro
   .message_error {
    border: 1px solid var(--primary-color);
    padding: 0.8rem 1.5rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

    animation: animate 1.5s linear infinite;

    p {
      color: var(--primary-color);
      text-align: center;
    } 
  }

    &>div.heading {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        h2 {
          color: var(--secondary-color);
          font-weight: 700;
        }
  
        span {
          color: var(--gray-700);
        }

    }

    &>div.photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      &> label:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        input {
          opacity: 0;
          width: 0;
        }

        svg {
          color: var(--primary-color);
          font-size: 5rem;
        }
      }

      label:nth-child(2) {
        color: var(--secondary-color);
        padding: 1rem 0;

        display: flex;
        align-items: center;

        cursor: pointer;
      }
    }


    &>div.button_register {

      button {
          width: 100%;
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          font-weight: 700;
          border: 0;
      }
    }

  }

}


// MODAL INFO CLIENT

.modal_info_client_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_info_client {
  max-width: 480px;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2rem 3rem;
  border-radius: 0.25rem;
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_clients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  h4 {
    color: var(--primary-color);
    font-size: 1rem;
  }

  &>img {
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: 220px;
    width: 100%;
    height: 220px;
    margin-bottom: 0.5rem;
  }

  .name_clients {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-left: 1px solid var(--primary-color);
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    span {
      color: var(--secondary-color);
    }
  }

  .email_clients {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-left: 1px solid var(--primary-color);
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    span {
      color: var(--secondary-color);
    }
  }

  .services_clients {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    h4 {
      display: inline;
    }

    hr {
      background-color: var(--primary-color);
      border: 0.01rem solid var(--primary-color);
      border-radius: 20px;
      margin: 0.25rem 0 1rem;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0.5rem;

      img {
        display: block;
        max-width: 120px;
        height: auto;
      }
    }

  }

  .btn_clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 385px;

    button {

      color: var(--secondary-color);
      border: 0 !important;
      max-width: 120px;
      width: 100%;
      padding: 0.8rem 1rem;
      border-radius: 0.25rem;
      box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
    }

    .btn_renovar {
      background-color: green;
    }
    .btn_delete {
      background-color: red;
    }
    button:active {
      border: 1px solid red !important;
    }
  }
}