

.container_skeleton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;

  max-width: 975px;
}


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  max-width: 480px;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2rem 3rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_clients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  h4 {
    color: var(--primary-color);
    font-size: 1rem;
  }

  &>img {
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: 220px;
    width: 100%;
    height: 220px;
    margin-bottom: 0.5rem;
  }

  .name_clients {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-left: 1px solid var(--primary-color);
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    span {
      color: var(--secondary-color);
    }
  }

  .email_clients {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-left: 1px solid var(--primary-color);
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    span {
      color: var(--secondary-color);
    }
  }

  .services_clients {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    background-color: var(--main-color);
    max-width: 385px;

    h4 {
      display: inline;
    }

    hr {
      background-color: var(--primary-color);
      border: 0.01rem solid var(--primary-color);
      border-radius: 20px;
      margin: 0.25rem 0 1rem;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0.5rem;
    }

  }

  .btn_clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 385px;

    button {

      color: var(--secondary-color);
      border: 0 !important;
      max-width: 120px;
      width: 100%;
      padding: 0.8rem 1rem;
      border-radius: 0.25rem;
      box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
    }

    .btn_renovar {
      background-color: green;
    }
    .btn_delete {
      background-color: red;
    }
    button:active {
      border: 1px solid red !important;
    }
  }
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @extend .dflex;
  width: 100%;
  flex-direction: column;
  
  
  .slider_wrapper {
    max-width: 975x;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    display: flex;
    @media (max-width: 416px) {
      width: 100%;
    }


    .inner_carousel {

      display: inline-flex;
      
      .card {

        // max-width: 180px;
        width: 160px;
        height: 160px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 16px;
        backdrop-filter: blur(20px);
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0 ,0 ,0 , 0.16),
                    0 3px 6px rgba(56, 40, 40, 0.23);

        .card_image {
          display: block;
          width: 160px;
          height: 160px;
          height: auto;
          border-radius: 0.25rem;
          overflow: hidden;
          // margin-bottom: 32px;

          img {
            max-width: 100%;
            width: 160px;
            height: 160px;
            object-fit: cover;
            background-position: center;
            display: block;
          }
        }
        +.card {
          margin-left: 5vw;
          @media (max-width: 416px) {
            margin-left: 5vw;
          }
        }
      }

    }
  }
}