

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

::root {
  --main-color: #0F0F10;
  --primary-color: #D81E5B;
  --secondary-color: #F7F7F7;

  --gray-700: #998879;
  --bg-color: #292828;
}

body {
  
  --main-color: #0F0F10;
  --primary-color: #D81E5B;
  --secondary-color: #F7F7F7;

  --gray-700: #998879;
  --bg-color: #292828;

  --background: var(-main-color);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--accent);
}

button, a {
  cursor: pointer;
}


 // Classe para alerta de erro
 .message_error {
  border: 1px solid var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  animation: animate 1.5s linear infinite;

  p {
    color: var(--primary-color);
    text-align: center;
  } 
}

@keyframes animate{
  0%{
     opacity: 0; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 0px 1px 1px var(--primary-color);

  }
  25% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
    
  }
  50%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);
  }
  75% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
  }
  100%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);

  }
}

.input_default {
  outline: none;

  &:hover {
    outline: 1px solid var(--primary-color);

  }
}

    
.input_icons,
.input_icon {
    position: relative;
    width: 100%;
    
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.input_icons input,
.input_icon input {
    background-color: var(--main-color) !important;
    color: var(--secondary-color) !important;
    border: 1px solid var(--bg-primary);
    width: 100%;
    height: 50px;
    font-size: 12pt;
    border-radius: 4px;
    outline: var(--bg-primary);

    display: block;
    padding: 5px 50px 5px 50px;
}

.input_icons svg,
.input_icon svg {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;

    left: 10px;
    color: var(--primary-color);
}



.input_icons button,
.input_icon button {
    position: absolute;
    right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0;
}

.input_icons input:focus-within ~ button,
.input_icon input:focus-within ~ button {
    opacity: 1;
}

.input_icons button svg,
.input_icon button svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    color: var(--gray-700);
    cursor: pointer;
}


h1 {
  color: var(--primary-color);
}
a {
  color: #f7f7f7;
  text-decoration: none;
}

.btn_default {
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
  background: #3f3f3f;
  outline: 1px solid var(--primary-color);
  z-index: 0;
  border: 1px solid var(--primary-color) !important;
  transition: all .3s cubic-bezier(0.47, 0, 0.745, 0.715);

}

.btn_default:hover::before {
  transform: translateX(300px) skew(-20deg);
}

.btn_default:hover {
  background: var(--main-color) !important;
  border: 1px solid var(--primary-color) !important;
}
.btn_default:before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ffffff75, transparent);
  transition: all 1s;
  z-index: -1;
  transform: translateX(-550px) skew(-20deg);
} 





// Modal

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 1);
  width: 100%;
  height: 100vh;
}
