


.header_nav {
  background-color: var(--primary-color);
  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 2rem;

  &> div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;

    width: 100%;
    max-width: 975px;

  &> nav {
    display: flex;
    align-items: center;

    &> a {
      color: var(--secondary-color);
      background-color: var(--bg-color);
      padding: 0.8rem 1.5rem;
      border-radius: 0.25rem;
    }
    
    
  }

  .logo {
    display: block;
    max-width: 80px;
    width: auto;
    height: auto;
  }
  }
}

.login {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;

  &> div {
    background-color: var(--bg-color);
    padding: 5rem 1rem;
    border-radius: 0.25rem;

    max-width: 565px;
    width: 100%;

    display: flex;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      max-width: 500px;
      width: 100%;

      padding: 0px 35px;

      header {

        line-height: 28px;

        // Classe para alerta de erro
        .message_error {
          border: 1px solid var(--primary-color);
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          margin-bottom: 2rem;

          animation: animate 1.5s linear infinite;

          p {
            color: var(--primary-color);
            text-align: center;
          } 
        }

        h2 {
          color: var(--primary-color);
          font-weight: 700;
        }
        span {
          color: var(--gray-700);
        }
      }

      &>div {
        width: 100%;

        

        input {
          width: 100%;
          background-color: var(--main-color);
          border: none;
          color: var(--secondary-color);
          outline: none;
          border-radius: 0.25rem;
        }

        &>button {
          width: 100%;
          padding: 0.8rem 1.5rem;
          border-radius: 0.25rem;
          background-color: var(--primary-color);
          font-weight: 700;
          border: none;
          color: var(--secondary-color);
        }
      }

      &> .footer_login {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        span {
          color: var(--secondary-color);
          text-align: center;

          a {
            color: var(--primary-color);
            transition: color .3s ;

            &:hover {
              color: var(--gray-700);
            }
          }

        }
      }
    }

  }
}


@keyframes animate{
  0%{
     opacity: 0; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 0px 1px 1px var(--primary-color);

  }
  25% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
    
  }
  50%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);
  }
  75% {
    opacity: 0.9; 
    border: 1px solid var(--primary-color);
  }
  100%{
    opacity: 0.1; 
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 1px var(--primary-color);

  }
}